{% extends 'base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/reset_password.css') }}">
{% endblock %}
{% block content %}

<div class="reset-wrapper">
    <div class="reset-card text-center">
        <h2 class="fw-bold mb-3" style="color: #444; letter-spacing: -1px;">비밀번호 재설정</h2>

        <div class="reset-fade">
            <p class="info-text">새롭게 사용할 비밀번호를 입력해 주세요.<br>타인에게 노출되지 않도록 주의하세요!</p>

            <form method="post" novalidate>
                {{ form.csrf_token }}
                {% include 'form_errors.html' %}

                <!--새 비밀번호 란-->
                <div class="mb-3">
                    <div class="pw-container">
                        {{ form.password(class="form-control custom-input", placeholder="새 비밀번호", id="reset-pw1") }}
                        <i class="bi bi-eye-slash toggle-pw" data-target="reset-pw1"></i>
                    </div>
                    <div class="progress mt-2"
                        style="height: 4px; width: 40%; max-width: 200px; background-color: #f0f0f0; border-radius: 10px;">
                        <div id="strength-bar-reset" class="progress-bar" role="progressbar"
                            style="width: 0%; transition: all 0.4s ease; border-radius: 10px;"></div>
                    </div>
                    <div class="text-start mt-1">
                        <small id="strength-text-reset" style="font-weight: bold; font-size: 0.7rem; color: #999;">보안
                            강도</small>
                    </div>
                </div>

                <!--새 비밀번호 확인란-->
                <div class="mb-3">
                    <div class="pw-container">
                        {{ form.confirm_password(class="form-control custom-input", placeholder="새 비밀번호 확인",
                        id="reset-pw2")
                        }}
                        <i class="bi bi-eye-slash toggle-pw" data-target="reset-pw2"></i>
                    </div>
                </div>

                <button type="submit" class="reset-btn">비밀번호 변경 완료</button>
            </form>
            <!-- 비번 변경 안할 유저-->
            <div class="mt-4">
                <a href="{{ url_for('auth.login') }}" style="color: #9C96F3; text-decoration: none; font-size: 0.9rem;">
                    취소하고 로그인 화면으로 돌아가기
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}