<!-- 회원가입 페이지 -->

{% extends 'base.html' %}
{% block content %}

<style>
     /* 회원가입, 마이페이지 버튼 */
    .custom-btn {
        background-color: #CCCCFF;
        color: white !important;
        border-radius: 8px;
        padding: 6px 18px;
        transition: all 0.3s ease;
        display: inline-block;
        text-decoration: none;
        border: none;
        font-weight: bold;
    }

    /* 회원가입, 마이페이지 버튼 효과 */
    .custom-btn:hover {
        background-color: #B3B3FF;
        transform: translateY(-2px);
        box-shadow: 0 4px 10px rgba(204, 204, 255, 0.4);
    }
</style>

<div class="container">
    <h5 class="my-3 border-bottom pb-2">회원 가입</h5>
    <form method="post" novalidate>
        {{ form.csrf_token }}
        {% include 'form_errors.html' %}

        {{ form.user_id.label }}
        {{ form.user_id(class="form-control mb-3", placeholder="로그인 시 사용할 아이디를 입력하세요") }}

        {{ form.username.label }}
        {{ form.username(class="form-control mb-3") }}

        {{ form.password1.label }}
        {{ form.password1(class="form-control mb-3") }}

        {{ form.password2.label }}
        {{ form.password2(class="form-control mb-3") }}

        {{ form.email.label }}
        {{ form.email(class="form-control mb-3") }}

        {{ form.phone.label }}
        {{ form.phone(class="form-control mb-3") }}

        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>

{% endblock %}