<!-- HTML 기본 베이스 4월15일 추가함 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}REBORN</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/reborn_logo.png') }}">

    <!-- bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style/app.css') }}">

    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <!-- 공통 헤더 -->
    {% include 'header.html' %}

    <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 3000; margin-top: 20px;">
    </div>
    <!-- 컨텐츠 영역 -->
    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}

    <!-- bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{{ url_for('static', filename='script/app.js') }}"></script>

    {% block script %}
    {% endblock %}
</body>
</html>