<!-- 공통 header -->
<!--header 대신 nav 태그 사용 및 nav 태그 기본 디자인 지정-->

<nav class="navbar navbar-expand-md hfixed">
    <div class="container-fluid d-flex align-items-center">
        <!--('/')가 intro 페이지로 바뀌어 url_for 변경(4/20)-->
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='img/reborn_logo.png') }}" alt="logo" style="height: 80px;">
        </a>

        <!--  상품 검색하기  -->
        <div class="center-search-area">
            <div class="search-wrapper search" id="searchCollapse">
                <form action="{{ url_for('items._list') }}" method="GET" class="search-input-group">
                    <input type="text" name="kw" value="{{ kw or '' }}" class="custom-search-input" placeholder="찾으시는 상품을 검색해주세요">
                    <button type="submit" class="search-submit-btn">검색</button>
                </form>
            </div>
        </div>

        <!-- 햄버거 버튼 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--  로그인, 로그아웃, 회원가입, 마이페이지  -->
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <!-- 로그인 상태일 때 로그아웃, 마이페이지 출력 -->
                {% if g.user %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('auth.logout') }}" style="font-size: 15px; color: #8479ED">로그아웃</a>
                    </li>
                    <li class="nav-item ms-md-2 mt-2 mt-md-0">
                        <a class="custom-btn" href="{{ url_for('personal.my_page')}}">마이페이지</a>
                    </li>
                <!-- 로그아웃 상태일 때 로그인, 회원가입 출력  -->
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('auth.login') }}" style="font-size: 15px; color: #8479ED">로그인</a>
                    </li>
                    <li class="nav-item ms-md-2 mt-2 mt-md-0">
                        <a class="custom-btn" href="{{ url_for('auth.signup') }}">회원가입</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<!--=== 로그아웃 완료창 토스트 팝업 ===-->
<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 3000; margin-top: 20px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if '로그아웃' in message or category == 'info' or category == 'success' %}
                    <input type="hidden" id="flask-message" value="{{ message }}">
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
